* text=auto eol=lf
*.java text working-tree-encoding=UTF-8
*.kt text working-tree-encoding=UTF-8
*.kts text working-tree-encoding=UTF-8
*.py text working-tree-encoding=UTF-8
*.yml text working-tree-encoding=UTF-8
*.yaml text working-tree-encoding=UTF-8
*.md text working-tree-encoding=UTF-8
*.json text working-tree-encoding=UTF-8
